*.env
.vscode

# npm
node_modules/

# Playwright
test-results/
playwright-report/
blob-report/
playwright/.cache/
playwright/.auth/

# Build
build/
!/build/
/build/*
!/build/scripts/
!/build/scripts/**
dist/

# Pack directory
publish_artifacts_npm/
publish_artifacts_meta/
